* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.logo {
  font-size: xx-large;
  float: left;
  font-size: 36px;
  text-decoration: none !important;
}

.menu {
  align-items: flex-end;
  float: right;
  margin-right: 10%;
  display: inline-flex;
  gap: 1rem;
  margin-top: 20px;
  font-size: 20px;
}

.nav {
  background-color: rgb(127, 176, 245);
  color: black;
  display: block !important;
  text-decoration: none;
}

.nav a {
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

ul li a:hover {
  color: black;
  text-decoration: underline;
}

ul li .active {
  color: black;
  text-decoration: underline;
}


