.welcome_message {
  margin-top: 32px;
  margin-bottom: 36px;
  font-weight: bolder;
  font-size: 36px;
}

.btn-prime {
  color: #fff;
  background-color: rgb(108, 163, 240);
  border-color: rgb(115, 167, 241);
}

.btn-prime:hover {
  color: #fff;
  background-color: rgb(135, 180, 238);
  border-color: rgb(119, 170, 236);
}

.loginForm {
  margin-top: 4rem;
  padding: 3rem;
  width: 90%;
}

.loginField {
  margin-bottom: 1rem;
}