.searchUser {
  display: inline-block;
  margin-top: 16px;
}

.userDetails {
  margin-left: 8px;
  margin-top: 16px;
}

.inputError {
  border-color: red;
}

.tableheading {
  padding: 20px 50px 20px 0;
  text-align: left;
  background-color: aliceblue;
}

.tabledata {
  margin-top: 20px;
}

tbody tr {
  padding-top: 10px;
}


.coursedetails {
  font-weight: bold;
}
